{% extends 'base.html' %}
{% load static %}
{% load pos_tags %}

{% block css %}
    <style>
        tr.clicked {
            animation-name: product-animation;
            animation-duration: 1s;
        }

        @keyframes product-animation {
            0% {
                background-color: lightskyblue;
            }
            80% {
                background-color: white;
            }
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/pos-style.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/fc-3.3.1/fh-3.1.7/kt-2.5.3/sc-2.0.3/sb-1.0.0/sp-1.2.1/sl-1.3.1/datatables.min.css"/>
{% endblock %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> POS - Sale
{% endblock %}

{% block content %}

    <section class="py-2">

        <!-- Card -->
        <div class="card card-cascade narrower">

            <!-- Section: CART -->
            <section>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-xl-4 col-md-12 mr-0">

                        <!-- Card Title -->
                        <div class="view view-cascade gradient-card-header blue-gradient lighten-1">
                            <h4 class="h4 mb-0 font-white">POS - SALE</h4>
                        </div>
                        <!-- Card Title -->

                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0">

                            <!-- Panel data -->
                            <div class="row card-body pt-3">

                                <!-- First column -->
                                <div class="col-md-12">

                                    <!-- All Products -->
                                    <div class="">
                                        <div class="md-form mt-1">
                                            <input type="text" id="AllProductList" class="form-control">
                                            <label for="AllProductList">All Products</label>
                                        </div>
                                        <br>
                                        <ul class="list-group list-group-flush overflow-auto my-custom-scrollbar-product-list"
                                            id="AllProductListLi">
                                            {% for p in all_products %}
                                                <li class="list-group-item">
                                                    <div class="row pt-2 ">
                                                        <div class="col">
                                                            <div>{{ p.name|truncatechars:25 }}
                                                                {% if p.weight %}, {{ p.weight }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <span class="align-middle text-muted small">Code: {{ p.product_code }}</span>
                                                                </div>
                                                                <div class="col-auto">
                                                                <span class="align-middle text-muted small float-right">
                                                                    {% if p.discount_price < p.mrp %}
                                                                        <span class="text-success">
                                                                            ₹{{ p.discount_price|price_format }}
                                                                        </span>
                                                                    {% else %}
                                                                        <span>
                                                                            ₹{{ p.discount_price|price_format }}
                                                                        </span>
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button type="button"
                                                                    onclick="updateUserOrder({{ p.product_code }}, 'add')"
                                                                    class="btn btn-primary btn-sm mr-1"><i
                                                                    class="fas fa-shopping-cart"></i> +
                                                            </button>
                                                        </div>
                                                    </div>

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- All Products -->

                                </div>
                                <!-- First column -->

                            </div>
                            <!-- Panel data -->

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-xl-8 col-md-12">
                        <div class="card mr-4 mt-n4">
                            <h4 class="text-center font-weight-bold py-3 mb-0">Cart</h4>
                            <div class="card-body py-0 pr-0">
                                <table id="cart-datatable" class="table text-center product-table table-cart-v-2"
                                       style="width:100%">
                                    <thead class="bg-light">
                                    <tr>
                                        <th>Product</th>
                                        <th>Weight</th>
                                        <th>Price (₹)</th>
                                        <th>Quantity</th>
                                        <th>Amount (₹)</th>
                                        <th>
{#                                            <a type="button"#}
                                            {#                                               onclick="updateUserOrder({{ order.id }}, 'clear')"#}
                                            {#                                               class="btn btn-danger btn-sm">Clear Cart#}
                                            {#                                            </a>#}
                                            <button class="btn btn-danger btn-sm btn-rounded mr-4" title="Clear Cart"
                                                    onclick="updateUserOrder({{ order.id }}, 'clear')"><i class="fas fa-shopping-cart"></i></button>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <!-- STEPPER -->
                        <div class="container pt-4 px-4">
                            <ul class="stepper horizontal" id="horizontal-stepper">
                                <li class="step active">
                                    <div class="step-title waves-effect waves-dark">Cart Details</div>
                                    <div class="step-new-content">

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h4 class="mt-2 text-center" id="cart_details"></h4>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="CashReceived">₹</span>
                                                    </div>
                                                    <input id="CashReceivedValue" type="number" class="form-control"
                                                           aria-label="Small"
                                                           aria-describedby="CashReceived" min="0" max="10000000"
                                                           autocomplete="off">

                                                    <div class="input-group-append">
                                                        <select id="payment-mode" class="custom-select custom-select"
                                                                autocomplete="off" aria-label="payment-mode">
                                                            {% for x,y in payment_mode %}
                                                                <option value="{{ x }}"{% if x == 'Cash' %}
                                                                        selected{% endif %}>{{ y }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <small id="emailHelp" class="form-text text-muted text-center">
                                                    Input Cash received and Mode of Payment</small>
                                            </div>
                                            <div class="col-sm-2">
                                                <!-- REFUND AMOUNT -->
                                                <h5 class="text-center font-weight-bold mt-2"
                                                    id="RefundAmount"></h5>
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <button class="waves-effect waves-dark btn btn-md btn-primary
                                                next-step btn-rounded update-cart"
                                                        data-feedback="nextPos" id="pos-next-button">Next >
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect waves-dark">Order Receipt</div>
                                    <div class="step-new-content">
                                        <div class="form-row align-items-center">
                                            <!-- Default auto-sizing form -->

                                            <div class="input-group col-sm">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">+91</div>
                                                </div>
                                                <input type="text" class="form-control py-0" aria-label="phone-number"
                                                       id="phone_number" placeholder="Phone Number"
                                                       style="max-width: 250px">
                                                <div class="input-group-append" id="button-addon4">
                                                    <button class="btn btn-md btn-success m-0 px-3 py-2 z-depth-0 waves-effect"
                                                            type="button"
                                                            onclick="send_receipt_whatsapp({{ order.id }})">Whatsapp
                                                        Receipt
                                                    </button>
                                                    <button class="btn btn-md btn-secondary m-0 px-3 py-2 z-depth-0 waves-effect"
                                                            type="button"
                                                            onclick=" window.open('{% url 'receipt' order.id %}','_blank')">
                                                        Print Receipt
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-sm-auto text-center">
                                                <div class="btn-group radio-group ml-2" data-toggle="buttons">
                                                    <button type="button" data-product="1001" data-action="remove"
                                                            class="btn btn-primary btn-md mr-1 btn-rounded previous-step"
                                                    > < Back
                                                        <!-- <i class="fas fa-minus"></i> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button id="stepper-complete-order" type="button"
                                                            class="btn btn-success btn-md mr-1 btn-rounded next-step"
                                                            onclick="CompleteOrder()" data-feedback="completePos">
                                                        Complete Order
                                                        <!-- <i class="fas fa-plus"></i> Font Awesome fontawesome.com -->
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- STEPPER -->
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </section>
            <!-- Section: CART -->
        </div>
        <!-- Card -->
    </section>
{% endblock %}

{% block javascript %}
    {#    <script src="{% static 'js/pos-home.js' %}"></script>#}
    <script src="{% static 'js/jquery.pos.js' %}"></script>
    <script src="{% static 'js/whatsapp_receipt.js' %}"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/fc-3.3.1/fh-3.1.7/kt-2.5.3/sc-2.0.3/sb-1.0.0/sp-1.2.1/sl-1.3.1/datatables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datatable-common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart-datatable.js' %}"></script>
{% endblock %}