{% extends 'base.html' %}
{% load static %}
{% load pos_tags %}

{% block css %}
    <style>
        tr.clicked {
            animation: fadeOut 2s forwards;
        }

        @keyframes fadeOut {
            0% {
                background-color: dodgerblue;
            }
            100% {
                background-color: white;
            }
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/pos-style.css' %}">
{% endblock %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> POS - Sale
{% endblock %}



{% block content %}
    <!-- Section: Sale -->
    <section class="mb-5">

        <!-- Card -->
        <div class="card card-cascade narrower">

            <!-- Section: CART -->
            <section class="pb-3">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-xl-4 col-md-12 mr-0">

                        <!-- Card Title -->
                        <div class="view view-cascade gradient-card-header blue-gradient lighten-1">
                            <h4 class="h4 mb-0 font-white">POS - SALE</h4>
                        </div>
                        <!-- Card Title -->

                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0">

                            <!-- Panel data -->
                            <div class="row card-body pt-3">

                                <!-- First column -->
                                <div class="col-md-12">

                                    <!-- All Products -->
                                    <div class="">
                                        <div class="md-form mt-1">
                                            <input type="text" id="AllProductList" class="form-control">
                                            <label for="AllProductList">All Products</label>
                                        </div>
                                        <br>
                                        <ul class="list-group list-group-flush overflow-auto my-custom-scrollbar-product-list"
                                            id="AllProductListLi">
                                            {% for p in all_products %}
                                                <li class="list-group-item">
                                                    <div class="row pt-2 ">
                                                        <div class="col">
                                                            <div>{{ p.name|truncatechars:25 }}
                                                                {% if p.weight %}, {{ p.weight }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <span class="align-middle text-muted small">Code: {{ p.product_code }}</span>
                                                                </div>
                                                                <div class="col-auto">
                                                                <span class="align-middle text-muted small float-right">
                                                                    {% if p.discount_price < p.mrp %}
                                                                        <span class="text-success">
                                                                            ₹{{ p.discount_price|price_format }}
                                                                        </span>
                                                                    {% else %}
                                                                        <span>
                                                                            ₹{{ p.discount_price|price_format }}
                                                                        </span>
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button type="button"
                                                                    onclick="updateUserOrder({{ p.product_code }}, 'add')"
                                                                    class="btn btn-primary btn-sm mr-1"><i
                                                                    class="fas fa-shopping-cart"></i> +
                                                            </button>
                                                        </div>
                                                    </div>

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- All Products -->

                                </div>
                                <!-- First column -->

                            </div>
                            <!-- Panel data -->

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-xl-8 col-md-12">

                        <!-- Card image -->
                        <div class="view view-cascade card-header white">
                            <h5 class="text-center"> CART </h5>
                            <!-- Shopping Cart table -->
                            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar-cart">

                                <table class="table product-table table-cart-v-2">

                                    <!-- Table head -->
                                    <thead class="mdb-color lighten-5">
                                    <tr>
                                        <th class="font-weight-bold">
                                            <strong>Product</strong>
                                        </th>
                                        <th class="font-weight-bold">
                                            <strong>Weight</strong>
                                        </th>
                                        <th class="font-weight-bold">
                                            <strong>Price</strong>
                                        </th>
                                        <th class="font-weight-bold">
                                            <strong>QTY</strong>
                                        </th>
                                        <th class="font-weight-bold">
                                            <strong>Amount</strong>
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <!-- Table head -->

                                    <!-- Table body -->
                                    <tbody id="datatable-ajax">

                                    </tbody>
                                    <!-- Table body -->

                                </table>
                                <div id="check-order-empty"></div>
                            </div>
                            <!-- Shopping Cart table -->


                        </div>
                        <!-- Card image -->


                        <!-- STEPPER -->
                        <div class="container pt-5 px-4">
                            <ul class="stepper horizontal" id="horizontal-stepper">
                                <li class="step active">
                                    <div class="step-title waves-effect waves-dark">Cart Details</div>
                                    <div class="step-new-content">


                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h4 class="mt-2 ml-3 text-center" id="cart_details"></h4>
                                            </div>
                                            <div class="col-sm-3">
                                                <!-- Money Received -->
                                                <!-- Material input -->
                                                <div class="input-group input-group-sm mb-3 mt-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="CashReceived">- ₹</span>
                                                    </div>
                                                    <input id="CashReceivedValue" type="number" class="form-control"
                                                           aria-label="Small"
                                                           aria-describedby="CashReceived" min="0" max="10000000"
                                                           onkeyup="CalculateRefund(value)">
                                                </div>
                                                <small id="emailHelp" class="form-text text-muted">Cash received</small>


                                            </div>
                                            <div class="col-sm-2">
                                                <!-- REFUND AMOUNT -->
                                                <h5 class="text-center font-weight-bold mt-2"
                                                    id="RefundAmount"></h5>
                                            </div>
                                            <div class="col-sm-3 text-center">
                                                <button class="waves-effect waves-dark btn btn-md btn-primary next-step btn-rounded update-cart"
                                                        onclick="updateUserOrder(1, 'complete')"
                                                        data-feedback="someFunction21">COMPLETE ORDER
                                                </button>
                                            </div>
                                        </div>


                                        {#                                        <div class="row">#}
                                        {#                                            <div class="col-sm">#}
                                        {#                                                <h4 class="mt-1 ml-3 text-center" id="cart_details">#}
                                        {#                                                </h4>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="col-sm">#}
                                        {#                                                <!-- Money Received -->#}
                                        {#                                                <!-- Material input -->#}
                                        {#                                                <div class="input-group input-group-sm mb-3">#}
                                        {#                                                    <div class="input-group-prepend">#}
                                        {#                                                        <span class="input-group-text" id="CashReceived">- ₹</span>#}
                                        {#                                                    </div>#}
                                        {#                                                    <input id="CashReceivedValue" type="number" class="form-control"#}
                                        {#                                                           aria-label="Small"#}
                                        {#                                                           aria-describedby="CashReceived" min="0" max="10000000"#}
                                        {#                                                           onkeyup="CalculateRefund(value)">#}
                                        {#                                                </div>#}
                                        {##}
                                        {#                                                <small id="emailHelp" class="form-text text-muted">Cash received</small>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="col-sm text-center">#}
                                        {#                                                <span class="h5 text-center font-weight-bold mt-2"#}
                                        {#                                                      id="RefundAmount"></span>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                        {#                                        <div class="step-actions">#}
                                        {#                                            <button class="waves-effect waves-dark btn btn-primary next-step btn-rounded update-cart"#}
                                        {#                                                    onclick="updateUserOrder(1, 'complete')"#}
                                        {#                                                    data-feedback="someFunction21">COMPLETE ORDER#}
                                        {#                                            </button>#}
                                        {#                                        </div>#}
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect waves-dark">Order Receipt</div>
                                    <div class="step-new-content">
                                        <div class="form-row align-items-center">
                                            <!-- Default auto-sizing form -->


                                            <!-- Grid column -->
                                            <div class="col-sm-4">
                                                <!-- Default input -->
                                                <label class="sr-only" for="phone_number">Phone Number</label>
                                                <div class="input-group mb-2 mt-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">+91</div>
                                                    </div>
                                                    <input type="text" class="form-control py-0"
                                                           id="phone_number" placeholder="Phone Number">
                                                </div>
                                            </div>
                                            <!-- Grid column -->

                                            <!-- Grid column -->
                                            <div class="col-sm-2 text-center">
                                                <button type="button" class="btn btn-sm btn-success btn-md mt-1"
                                                        onclick="send_receipt_whatsapp({{ order.id }})">Whatsapp Receipt
                                                </button>
                                            </div>
                                            <!-- SUBMIT COl-->
                                            <!-- Print recipt column -->
                                            <div class="col-sm-2 text-center">
                                                <a href="{% url 'receipt' order.id %}" target="_blank"
                                                   class="waves-effect waves-dark btn btn-sm btn-secondary">
                                                    Print Receipt
                                                </a>
                                            </div>
                                            <div class="col-sm-4 text-center">
                                                {#                                                <div class="step-actions">#}
                                                <button onClick="window.location.reload();"
                                                        class="waves-effect waves-dark btn btn-md btn-rounded btn-primary"
                                                        data-feedback="someFunction21">Finish
                                                </button>
                                                {#                                            <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step">#}
                                                {#                                                BACK#}
                                                {#                                            </button>#}
                                                {#                                        </div>#}
                                            </div>
                                            <!-- Print recipt col -->
                                            <!-- Default auto-sizing form -->

                                            {#                                            <a href="https://web.whatsapp.com/send?text=your_message&phone=918982400180"#}
                                            {#                                               target="_blank"#}
                                            {#                                               class="waves-effect waves-dark btn btn-sm btn-success">#}
                                            {#                                                WhatsApp Receipt#}
                                            {#                                            </a>#}

                                        </div>
                                    </div>
                                </li>
                                {#                                <li class="step">#}
                                {#                                    <div class="step-title waves-effect waves-dark">Step 3</div>#}
                                {#                                    <div class="step-new-content">#}
                                {#                                        Finish!#}
                                {#                                        <div class="step-actions">#}
                                {#                                            <button class="waves-effect waves-dark btn-sm btn btn-primary m-0 mt-4"#}
                                {#                                                    type="button">SUBMIT#}
                                {#                                            </button>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </li>#}
                            </ul>

                        </div>
                        <!-- STEPPER -->


                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: CART -->

        </div>
        <!-- Card -->

    </section>
    <!-- Section: Analytical panel -->
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/pos-home.js' %}"></script>
    <script src="{% static 'js/jquery.pos.js' %}"></script>
    <script src="{% static 'js/whatsapp_receipt.js' %}"></script>

{% endblock %}