{% load static %}
{% load accounts_tags %}

{% if error %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <div class="alert alert-danger text-center" role="alert">
        {{ error }} <a href="javascript:window.open('','_self').close();">Close Tab</a>
    </div>

{% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {#        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/product_label.css' %}">
        <title>Label example</title>
    </head>
    <body>
    <div class="product-label center">
        <div class="card product-label">
            <div class="card-body">
                <div class="row hr-bottom-row1">
                    <div class="column left">
                        <div class="a card-title">{{ product.name }}
                            {% if product.weight %}
                                , {{ product.weight }}
                                {% if product.quantity_unit %}
                                    {{ product.quantity_unit }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="column right">
                        <div class="numberCircle">
                            {% if product.discount_percentage %}
                                {{ product.discount_percentage|floatformat:0 }}% OFF
                            {% else %}
                                N/A
                            {% endif %}
                        </div>
                    </div>
                </div>
                {#            <hr>#}
                <div class="row2">
                    <div class="column2 left2">
                        <div style="text-align:center;">
                            <svg id="barcode" class="div.a"></svg>
                        </div>
                    </div>
                    <div class="column right2 rotated pt-3">
                        <div style="text-align: center ">
                            <div class="a">MRP: ₹{{ product.mrp|price_format }}</div>
                            <div class=""> OUR PRICE</div>
                            <div class="a price-tag">₹{{ product.discount_price|price_format }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <p class="footer-text">SHOPRIGHT SUPERMARKET <span
                class="text-italic">(Prices are Inclusive of all Taxes)</span></p>
    </div>

    {#    NEW LABEL STYLE#}

    {#<div class="card product-label border-dark">#}
    {#    <div class="card-header">#}
    {#        <div class="row">#}
    {#            <div class="col-9">#}
    {#                {{ product.name }}#}
    {#                {% if product.weight %}#}
    {#                    , {{ product.weight }}#}
    {#                {% endif %}#}
    {#            </div>#}
    {#            <div class="col-3">#}
    {#                <div class="badge badge-pill badge-success">#}
    {#                    <div>{{ product.get_discount_percentage|floatformat:0 }}% OFF</div></div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="card-body my-3">#}
    {#        <div class="row">#}
    {#            <div class="col-9">#}
    {#                <div class="text-center align-middle"><svg id="barcode" class="div.a"></svg></div>#}
    {#            </div>#}
    {#            <div class="col-3 rotated">#}
    {#                    <div class="text-left">#}
    {#                        <h5 class="font-weight-bold">MRP: ₹{{ product.mrp|price_format }}</h5>#}
    {#                        <div>OUR PRICE</div>#}
    {#                        <h3 class="font-weight-bold">₹{{ product.discount_price|price_format }} </h3>#}
    {#                    </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="card-footer text-muted text-center" style="max-height: 20px;">SHOPRIGHT SUPERMARKET  <span class="font-italic">(Prices Inclusive of all Taxes)</span></div>#}
    {#    </div>#}

    {#    asda#}


    <button id="btnPrint" class="hidden-print">Print</button>
    <script type="text/javascript" src="{% static 'js/JsBarcode.all.min.js' %}"></script>
    <script type="text/javascript">
        JsBarcode("#barcode", '{{ product.product_code }}', {
            format: "CODE128",
            font: "monospace",
            textPosition: "bottom",
            marginLeft: 2,
            marginTop: 2,
            marginBottom: 2,
            marginRight: 2,
            fontSize: 5,
            {#lineColor: "#0aa",#}
            width: 1,
            textMargin: 0,
            height: 35,
            {#displayValue: false#}
        });
    </script>
    <script type="text/javascript" src="{% static 'js/receipt.js' %}"></script>
    <script type="text/javascript">
        window.print();
        window.open('', '_parent', '');
        {#window.close()#}
    </script>
    </body>
    </html>
{% endif %}