{% load static %}
{% load pos_tags %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/product_label.css' %}">

{% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }} <a href="javascript:window.open('','_self').close();">Close Tab</a>
    </div>

{% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Product Label</title>
    </head>
    <body>
    <div class="card-body product-label border border-dark pt-0">
        <div class="row pt-0">
            <div class="product-name pt-1">
                {{ product.name|truncatechars:33 }}
            </div>
            <span class="product-name pt-1">
            {% if product.weight %}
                , {{ product.weight }}
            {% endif %}
                {% if product.weight_unit %}
                    {{ product.weight_unit }}
                {% endif %}
        </span>
        </div>
        <div class="row">
            <div class="barcode text-center">
                <svg id="barcode-text" class="text-center"></svg>
            </div>
        </div>
        <div class="row">
            <div class="col col-7 p-0 border border-dark">
                <div class="our-rate pl-1 font-weight-bold">OUR RATE
                    <span class="our-rate pl-1">(Inclusive of all taxes)</span></div>

                <div class="row">
                    <div class="col-7 py-0">
                        <div class="price pl-1 font-weight-bold text-center">&#x20b9;{{ product.discount_price|price_format }}/-</div>
                    </div>
                    <div class="col-5 p-0">
                        <div class="mrp font-weight-500 text-left">MRP: &#x20b9;{{ product.mrp|price_format }}/-</div>
                    </div>
                </div>
            </div>
            <div class="col col-3 p-0 border-top border-bottom border-dark">
                <div class="text-center discount">Discount</div>
                <div class="text-center font-weight-bold discount-percent">
                    {% if product.discount_percentage %}
                                {{ product.discount_percentage|floatformat:0 }}%
                            {% else %}
                                N/A
                            {% endif %}
                </div>
            </div>
            <div class="col col-2 p-0 border border-dark">
                <div class="text-center shopright pt-1">Shopright Supermarket</div>
            </div>
        </div>
    </div>
    <button id="btnPrint" class="hidden-print">Print</button>
    <script type="text/javascript" src="{% static 'js/JsBarcode.all.min.js' %}"></script>
    <script type="text/javascript">
        JsBarcode("#barcode-text", '{{ product.product_code }}', {
  format: "CODE128B",
  ean128: true,
            font: "monospace",
            marginLeft: 2,
            marginTop: 5,
            marginBottom: 2,
            marginRight: 2,
            fontSize: 8,
            width: 1,
            textMargin: 1,
            height: 60,
            {#displayValue: false#}
        });
    </script>
    <script type="text/javascript" src="{% static 'js/receipt.js' %}"></script>
    <script type="text/javascript">
        window.print();
        window.onafterprint = function () {
            window.close();
        }
    </script>
    </body>
    </html>
{% endif %}