{% load static %}
{% load pos_tags %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/product_label.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Expiry Label</title>
</head>
<body>
<div class="card-body product-label pt-0 text-center">
    <div class="font-weight-bold py-3" style="font-size: 17px">SHOPRIGHT SUPERMARKET</div>
    <div class="border border-dark" style="font-size: 15px">
        <div class="py-2 font-weight-500">MFG Date: {{ date }}</div>
        <div class="w-100 py-1">Best before 3 months from the date of manufacture</div>
    </div>
</div>
<script type="text/javascript">
    window.print();
    window.onafterprint = function () {
        window.close();
    }
</script>
</body>
</html>
