{% load static %}
{% load pos_tags %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/receipt.css' %}">
<link rel="stylesheet" href="{% static 'line_awesome/css/line-awesome.min.css' %}">


{% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }} <a href="javascript:window.open('','_self').close();">Close Tab</a>
    </div>

{% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Receipt for Order-{{ order.id }} </title>
    </head>
    <body>
    <div class="card-body receipt pt-0 py-0 px-4">
        <!-- HEADER RECEIPT -->
        <div class="text-center py-4">

            <img src="{% static "images/receipt-logo.png" %}" class="w-75 pb-2" alt="Logo">
            <h6>21, POOJA SHRI NAGAR, CTO, BAIRAGARH</h6>
            <h6><i class="las la-phone"></i>: 8989017745 <i class="lab la-whatsapp"></i>: 9179722160
                <br><i class="las la-envelope"></i>: shoprightsupermarket@gmail.com</h6>
            <h3 class="py-1 font-weight-bold">ORDER RECEIPT</h3>
            <svg id="barcode-text"></svg>
        </div>
        <!-- END HEADER RECEIPT -->

        {% if order.pos_customer %}
            <div class="text-left pb-2 font-weight-bold">
                Customer Name
                <span class="float-right">
                        {{ order.pos_customer.name }}
                    </span>
            </div>
        {% endif %}

        <!-- RECEIPT BODY -->
        <div>
            <!-- RECEIPT BODY - Order Items -->
            <table class="w-100 mb-1">
                <thead>
                <div class="text-left border-dark border-top py-1">
                    Cashier :
                    <span class="float-right">
                        {{ order.customer }}
                    </span>
                </div>
                <div class="text-left pb-1">
                    Date
                    <span class="float-right">
                        {{ order.date_order }}
                    </span>
                </div>
                <div class="text-center font-weight-bold border-top border-dark">Description</div>
                <tr class="border-bottom border-dark">
                    <th class="w-25">Qty</th>
                    <th class="w-25">M.R.P</th>
                    <th class="w-25">Our Price</th>
                    <th class="w-25">Amount</th>
                </tr>
                </thead>
                <tbody>
            </table>
            {% for a in cart_items %}
                <div class="product-name font-weight-500">{{ a.product.name }}
                    {% if a.weight %}, {{ a.weight }}{{ a.weight_unit }}
                    {% endif %}</div>
                <table class="text-left ml-2 w-100">
                    <tr>
                        <td class="w-25">{{ a.quantity }}</td>
                        <td class="w-25"><i class="las la-rupee-sign"></i>{{ a.mrp }}</td>
                        <td class="w-25"><i class="las la-rupee-sign"></i>{{ a.discount_price }}</td>
                        <td class="w-25"><i class="las la-rupee-sign"></i>{{ a.amount }}</td>
                    </tr>
                </table>
            {% endfor %}
        </div>
        <hr class="border-dark my-1">
        <!-- RECEIPT BODY Summary-->
        <table class="w-100 ml-2">
            <tr>
                <th class="">{{ order.get_cart_items_quantity }}</th>
                <th class="w-25"></th>
                <th class="w-25"></th>
                <th class="w-25"><i class="las la-rupee-sign"></i>{{ order.get_cart_revenue_NoDiscount }}</th>
            </tr>
        </table>
        <hr class="border-dark my-1">
        {% if order.discount %}
            <table class="w-100">
                <tr>
                    <th class="pl-1">SPECIAL DISCOUNT:</th>
                    <th class=""></th>
                    <th class="">

                        {% if not order.discount.is_percentage %}
                            <i class="las la-rupee-sign"></i>{{ order.discount.value }}
                        {% else %}
                            {{ order.discount.value }}%
                        {% endif %}

                    </th>
                    <th class="">
                        - <i class="las la-rupee-sign"></i>{{ discount_savings }}
                    </th>
                </tr>
            </table>
            <hr class="border-dark my-1">
            <table class="w-100">
                <tr>
                    <th class="w-25 pl-1">SUBTOTAL</th>
                    <th class="w-25"></th>
                    <th class="w-25"></th>
                    <th class="w-25 pl-2"><i class="las la-rupee-sign"></i>{{ order.get_cart_revenue }}</th>
                </tr>
            </table>
        {% endif %}
        <!-- RECEIPT BODY Footer Total -->
        <div class="text-right pb-3 pt-4 pr-2">
            <div class="h5">M.R.P TOTAL: <i class="las la-rupee-sign la-1x"></i>{{ order.get_cart_mrp }} </div>
            <div class="h5 font-weight-bold">YOU SAVED: <i class="las la-rupee-sign la-1x"></i>{{ savings }}</div>
            <br>
            <div class="font-weight-bold h4">NET PAYABLE: <i
                    class="las la-rupee-sign la-lg"></i>{{ order.get_cart_revenue }} </div>
        </div>
        <!-- END RECEIPT BODY -->

        <!-- TNC and Credits -->
        <div class="border-dark border-top py-2">
            <div class="font-weight-bold text-center footer-text-small pb-1">Terms & Conditions</div>
            <ul class="footer-text-smallul">
                <li>No Return on goods sold</li>
                <li>Non discounted goods can be exchanged within 3 days</li>
                <li>Opened items will not be exchanged</li>
                <li>Whole grains will not be taken back</li>
                <li>This bill will be visible for only 10 days</li>
                <li>Subject to BHOPAL Jurisdiction</li>
            </ul>
            <div class="text-center border-dark border-dotted footer-text-small py-1">Thank you for shopping at
                ShopRight Supermarket Hope to see you again!
            </div>
        </div>
        <!-- END TNC and Credits -->
    </div>
    </body>
    </html>
{% endif %}
<script type="text/javascript" src="{% static 'js/JsBarcode.all.min.js' %}"></script>
<script type="text/javascript">
    JsBarcode("#barcode-text", '{{ order.id }}', {
        format: "CODE128",
        {#ean128: true,#}
        font: "monospace",
        marginLeft: 2,
        marginTop: 1,
        marginBottom: 1,
        marginRight: 2,
        fontSize: 10,
        width: 1.5,
        textMargin: 1,
        height: 35,
        {#displayValue: false#}
    });
</script>
<script type="text/javascript">
    window.print();
    window.onafterprint = function () {
        window.close();
    }
</script>