{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> Products
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fm.tagator.jquery.css' %}">
{% endblock %}

{% block content %}
    <div class="flex-center">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between mt-1 mb-4">
                    <div class="col-4">
                        <h3 class="pt-2">Add Product</h3>
                    </div>
                </div>
                <form id="add-product-form">
                    <div class="row">
                        <div class="col pr-5 pt-3 border-right">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Product Code</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Code"
                                       aria-describedby="basic-addon1" name="product_code" id="product_code">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="form-check-input" type="checkbox" value=""
                                               id="generate_product_code_checkbox">
                                        <label class="form-check-label" for="generate_product_code_checkbox"></label>
                                    </div>
                                    <span class="input-group-text">Generate Product Code</span>
                                </div>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Product Name</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Name"
                                       aria-describedby="basic-addon1" name="name">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cost</span>
                                    <span class="input-group-text">₹</span>
                                </div>
                                <input type="number" class="form-control" aria-label="cost" name="cost">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">MRP</span>
                                    <span class="input-group-text">₹</span>
                                </div>
                                <input type="number" class="form-control" aria-label="mrp" name="mrp" id="mrp">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Discounted Price</span>
                                    <span class="input-group-text">₹</span>
                                </div>
                                <input type="number" class="form-control" aria-label="discount" name="discount_price"
                                       id="discount_price">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Discount</span>
                                </div>
                                <input type="text" class="form-control" aria-label="discount_percent"
                                       id="discount_percent">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>

                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="quantity-units">Quantity</label>
                                </div>
                                <input type="number" class="form-control" aria-label="quantity">
                                <div class="input-group-append">
                                    <select class="browser-default custom-select" id="quantity-units"
                                            name="quantity_unit">
                                        {% for k,v in quantity_unit %}
                                            <option value="{{ k }}"
                                                    {% if k == 'PCS' %}selected{% endif %}>{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="weight-units">Weight</label>
                                </div>
                                <input type="number" class="form-control" aria-label="weight">
                                <div class="input-group-append">
                                    <select class="browser-default custom-select" id="weight-units" name="weight_unit">
                                        {% for k,v in weight_unit %}
                                            <option value="{{ k }}"
                                                    {% if k == 'g' %}selected{% endif %}>{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-5 pt-3">
                            <div class="mb-3 h4 grey-ic">Additional Fields</div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Company</span>
                                </div>
                                <input type="text" class="form-control" aria-label="company"
                                       aria-describedby="basic-addon1" name="company">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Rack Number</span>
                                </div>
                                <input type="text" class="form-control" aria-label="rack"
                                       aria-describedby="basic-addon1" name="rack_number">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Expiry Date</span>
                                </div>
                                <input type="date" class="form-control" aria-label="expiry"
                                       aria-describedby="basic-addon1" name="expiry_date" id="expiry_date">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Categories</span>
                                </div>
                                <input type="text" class="tagator form-control" aria-label="categories"
                                       name="category"
                                       id="product_categories">
                                {#                                <select class="mdb-select pl-3 align-middle" id="product_categories" multiple#}
                                {#                                        searchable="Search here.." name="category">#}
                                {#                                    <option value="" disabled selected>Select Categories</option>#}
                                {#                                    {% for n in categories %}#}
                                {#                                        <option value="{{ n }}">{{ n }}</option>#}
                                {#                                    {% endfor %}#}
                                {#                                </select>#}
                                {#                                <a href="#" class="btn btn-rounded btn-sm ml-4" data-toggle="modal"#}
                                {#                                   data-target="#addCategoryPrompt">Add New Category</a>#}
                                {#                                <button type="button" class="btn btn-rounded btn-outline-elegant btn-sm ml-4"#}
                                {#                                        data-toggle="modal"#}
                                {#                                        data-target="#addCategoryPrompt">Add New Category#}
                                {#                                </button>#}
                            </div>
                            {#                            <a href="#" class="btn btn-sm btn-rounded ml-0">Add New Category</a>#}
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Description</span>
                                </div>
                                <textarea class="form-control" aria-label="description" name="description"></textarea>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-elegant btn-rounded my-4 waves-effect z-depth-0 float-right"
                            id="add-product-form-submit-button" type="submit">Add Product
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
{#    <div class="modal fade" id="addCategoryPrompt" tabindex="-1" role="dialog"#}
{#         aria-labelledby="exampleModalCenterTitle"#}
{#         aria-hidden="true">#}
{##}
{#        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->#}
{#        <div class="modal-dialog modal-dialog-centered" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Category</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body py-5">#}
{#                    <div class="input-group">#}
{#                        <div class="input-group-prepend">#}
{#                            <span class="input-group-text" id="basic-addon1">Category Name</span>#}
{#                        </div>#}
{#                        <input type="text" class="form-control" aria-label="Category Name"#}
{#                               aria-describedby="basic-addon1" id="category_name">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-primary" id="add-category-button">Add</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/fm.tagator.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/add-product.js' %}"></script>
{% endblock %}