{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}

{% block css %}
    <!-- DataTables.net  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
{% endblock %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> Products
{% endblock %}

{% block content %}
{#    <script>console.log({{ products }})</script>#}
    {% if paginator %}
        <nav style="float: right">
            {% get_pagination_html paginator %}
        </nav>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between mt-1 mb-3">
                <div class="col-4">
                    <h3 class="pt-2">Products Details</h3>
                </div>
                <div class="col-4">
                    <a class="float-right btn btn-outline-dark btn-rounded waves-effect waves-light"
                       href="{% url 'add-product' %}">
                        <i class="fas fa-plus mr-3"></i>Add Product
                    </a>
                </div>
            </div>
            <table id="products-data-table" class="table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Product Code</th>
                    <th class="th-sm">Product Name</th>
                    <th class="th-sm">Cost</th>
                    <th class="th-sm">MRP</th>
                    <th class="th-sm">Discount Price</th>
                    <th class="th-sm">Quantity</th>
                    <th class="th-sm">Weight</th>
                    <th class="th-sm">Expiry Date</th>
                    <th class="th-sm">Category</th>
                    <th class="th-sm">Edit</th>
                </tr>
                </thead>
                <tbody id="products-table-body"></tbody>
            </table>
        </div>
    </div>

    {% include 'components/add-product-form.html' %}
    {% include 'components/edit-product-form.html' %}

    <!-- Modal -->
    <div class="modal fade" id="deleteProductPrompt" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Product (Code - <span class="text-warning" id="static-product-code-delete"></span> | Name - <span
                        class="text-warning" id="static-product-name-delete"></span>) will be deleted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="product-delete-yes">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/products.js' %}"></script>
    <!-- DataTables  -->
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <!-- Custom scripts -->
    <script>

    </script>
{% endblock %}
