{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bill-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fm.tagator.jquery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.autocomplete.css' %}">
    <link rel="stylesheet" href="{% static 'line_awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> Add Inventory
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between mt-1 mb-2">
                <div class="col-4">
                    <h2 class="pt-2">Bill Items</h2>
                </div>
                <div class="col-auto">
                    <button class="btn btn-md btn-primary" onclick="addBillItemToBill('2008')">Add Bill Item</button>
                    <button type="button" class="btn btn-md btn-secondary btn-rounded waves-effect waves-light mr-3"
                            data-toggle="modal" data-target=".product-variation-searchModal">
                        <i class="fas fa-search mr-2"></i>
                        Search by product name
                    </button>
                    <button class="float-right btn btn-md btn-primary btn-rounded waves-effect waves-light"
                            data-toggle="modal" data-target="#addProductModalForm"><i class="fas fa-plus mr-2"></i>
                        Add New Product
                    </button>
                </div>
            </div>
            <div class="row py-2 mb-4 mt-3">
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bill Name</span>
                        </div>
                        <input id="bill_name" type="text" class="form-control bill-data-updater" name="name"
                               aria-label="bill_name">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Vendor Name</span>
                        </div>
                        <input id="vendor_name" type="text" class="form-control bill-data-updater"
                               aria-label="vendor_name">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Date Ordered</span>
                        </div>
                        <label for="date_bill"></label>
                        <input id="date_bill" type="date" class="form-control bill-data-updater" name="date_ordered"/>
                    </div>
                </div>
            </div>
            <table id="bill-datatable" class="table nowrap text-center custom-datatable" style="width:100%">
                <thead>
                <tr style="background: #e2e6ea">
                    <th>#</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Cost</th>
                    <th>MRP</th>
                    <th>Discounted Price</th>
                    <th>Quantity</th>
                    <th>Weight</th>
                    <th>Expiry Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
            <div id="total-values-div" class="row"></div>
            <div class="row py-2">
                <button id="complete-bill" class="btn btn-primary waves-effect waves-light mr-auto ml-auto"><i class="fas fa-save mr-2"></i>
                    Save bill and update products
                </button>
            </div>
        </div>
    </div>
    {% include 'inventory/modal-search.html' %}
    {% include 'components/add-variation-form-modal.html' %}

{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="{% static 'js/fm.tagator.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
{#    <script src="{% static 'js/jquery.pos.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/onscan.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable-common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/update_inventory_by_bill.js' %}"></script>


{% endblock %}
