{% extends 'pos/components/pos-buttons-modal-base.html' %}
{% load static %}

{% block modal-css %}
    {#    <link rel="stylesheet" href="{% static 'css/calculator-styles.css' %}">#}
{% endblock %}

{% block modal-title %}Add Customer{% endblock %}

{% block modal-id %}add-customer-modal{% endblock %}


{% block modal-body %}

    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><strong>Customer Name</strong></span>
        </div>
        <input type="text" class="form-control" aria-label="Name"
               id="cus_name" required>
    </div>

    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><strong>Phone Number</strong></span>
        </div>
        <input id="cus_number" type="tel" required class="form-control"
               aria-label="quantity">
    </div>
    <small id="emailHelp" class="form-text text-muted text-center">
                                                    Leave Blank for no Phone Number</small>

{% endblock %}

{% block modal-footer %}
    {% with load_footer=True %}
        {{ block.super }}
    {% endwith %}


{% endblock %}

{% block modal-buttons %}
    <button id="add-customer" type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
{% endblock %}

{% block modal-javascript %}
    {#    <script src="{% static 'js/calculator-script.js' %}"></script>#}
{% endblock %}