{% load static %}
<!-- To change the direction of the modal animation change .right class -->
{% block css %}
    {% block modal-css %}
    {% endblock %}
{% endblock %}

<div class="modal fade left" id="{% block modal-id %}{% endblock %}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-side modal-bottom-left" role="document">


        <div class="modal-content mx-3">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center font-weight-500" id="myModalLabel">{% block modal-title %}{% endblock %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block modal-body %}
                {% endblock %}
            </div>
            {% block modal-footer %}
                {% if load_footer %}
            <div class="modal-footer">
                {% block modal-buttons %}
                {% endblock %}
                {#                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                {#                <button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
                {% endif %}
        {% endblock %}
        </div>
    </div>
</div>


{% block javascript %}
    {% block modal-javascript %}
    {% endblock %}
{% endblock %}

