asgiref==3.2.10
Django==3.1.2
django-rest-framework==0.1.0
djangorestframework==3.12.1
djangorestframework-datatables==0.5.2
numpy==1.19.2
pandas==1.1.2
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
xlrd==1.2.0
