{% load static %}
{% load solo_tags %}


<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% get_solo 'accounts.SiteConfiguration' as site_config %}
    <title>{{ site_config.shop_name }}</title>

    <link href="{% static 'new/pos/vendor/theme/images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    <link href="{% static 'new/pos/vendor/theme/css/bootstrap.css?v=1.1' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'new/pos/vendor/pace/css/pace-theme.css' %}"/>
    <!-- custom style -->
    <link href="{% static 'new/pos/vendor/theme/css/ui.css?v=1.1' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'new/pos/vendor/theme/css/responsive.css?v=1.1' %}" rel="stylesheet"/>

    <!-- iconfont -->
    <link rel="stylesheet" href="{% static 'new/pos/vendor/theme/fonts/material-icon/css/round.css' %}"/>
    <!-- Font awesome 5 -->
    <link rel="preload" href="{% static 'new/pos/vendor/theme/fonts/fontawesome/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff" crossorigin="">
    <link href="{% static 'new/pos/vendor/theme/fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">
    <!-- START Custom CSS -->
    <link rel="stylesheet" href="{% static 'new/pos/css/custom.css' %}"/>
    {% block customCSS %}
    {% endblock %}
    <!-- END Custom CSS -->
</head>
<body>

<b class="screen-overlay"></b>

<aside class="navbar-aside" id="offcanvas_aside">

    <div class="aside-top">
        <a href="page-index-1.html" class="brand-wrap">
            <img src="{% static 'new/pos/vendor/theme/images/logo.svg' %}" height="46" class="logo"
                 alt="Ecommerce dashboard template">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div> <!-- aside-top.// -->

    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="page-index-1.html"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="page-products-list.html">Product list view</a>
                    <a href="page-products-table.html">Product table view</a>
                    <a href="page-products-grid.html">Product grid</a>
                    <a href="page-products-grid-2.html">Product grid 2</a>
                    <a href="page-categories.html">Categories</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="page-orders-1.html">Order list 1</a>
                    <a href="page-orders-2.html">Order list 2</a>
                    <a href="page-orders-detail.html">Order detail</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Sellers</span>
                </a>
                <div class="submenu">
                    <a href="page-sellers-cards.html">Sellers cards</a>
                    <a href="page-sellers-list.html">Sellers list</a>
                    <a href="page-seller-detail.html">Seller profile</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'products' %}">Add product 1</a>
                    <a href="page-form-product-2.html">Add product 2</a>
                    <a href="page-form-product-3.html">Add product 3</a>
                    <a href="page-form-product-4.html">Add product 4</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-A.html"> <i
                        class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
                <div class="submenu">
                    <a href="page-transactions-A.html">Transaction 1</a>
                    <a href="page-transactions-B.html">Transaction 2</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
                <div class="submenu">
                    <a href="page-account-login.html">User login</a>
                    <a href="page-account-register.html">User registration</a>
                    <a href="page-error-404.html">Error 404</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li>
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="page-0-blank.html"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text"> Starter page </span>
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>

<main class="main-wrap">
    <header class="main-header navbar">

        <div class="col-search">
            {% block navbaritems %}
            {% endblock %}
        </div>

        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                    class="md-28 material-icons md-menu"></i></button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" onclick="darkmode(this)" title="Dark mode" href="#"> <i
                            class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#"> <i class="material-icons md-notifications_active"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> English </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#"> <img class="img-xs rounded-circle"
                                                                                        src="{% static 'new/pos/vendor/theme/images/people/avatar1.jpg' %}"
                                                                                        alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">My profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item text-danger" href="#">Exit</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <section class="content-main p-3">
        {% block content %}
        {% endblock %}
    </section> <!-- content-main end// -->


</main>

<! -- CSRF TOKEN -->
<script type="text/javascript">
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getToken('csrftoken');
</script>

<script>
    if (localStorage.getItem("darkmode")) {
        var body_el = document.body;
        body_el.className += 'dark';
    }
</script>

<!-- START Vendor JS -->
{#<script src="{% static 'new/pos/vendor/theme/js/jquery-3.5.0.min.js' %}"></script>#}
<script src="{% static 'new/pos/vendor/jquery/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'new/pos/vendor/theme/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'new/pos/vendor/pace/js/pace.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'new/pos/vendor/theme/js/script.js?v=1.0' %}"></script>
<script type="text/javascript" src="{% static 'new/pos/scripts/scripts.js' %}"></script>
<!-- END Vendor JS -->

<!-- START Custom JS -->
{% block customJavascript %}
{% endblock %}
<!-- END Custom JS -->

</body>
</html>