{% extends 'new/pos/base.html' %}
{% load static %}

{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'new/pos/vendor/datatables/css/dataTables.bootstrap5.min.css' %}">
    <style>
        tr.clicked {
            animation-name: product-animation;
            animation-duration: 1s;
        }

        @keyframes product-animation {
            0% {
                background-color: lightskyblue;
            }
            80% {
                background-color: white;
            }
        }
    </style>
{% endblock %}

{% block navbaritems %}
    <div id="product-search-group" class="mx-3">
        <div class="input-group mb-1">
            <input id="ProductSearchInputPos" type="text" class="form-control" placeholder="Search Products">
            <button id="clearProductSearchInputPos" type="button" class="btn bg-transparent btn-rounded" style="margin-left: -38px; z-index: 100">
                <i class="fa fa-times text-muted"></i>
            </button>
        </div>
        <div id="AllProductListLi" class="position-absolute card z-index-master shadow" style="display: none; width: 100%"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="card mt-4">
        <div class="row py-2 card-body p-3 g-4">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 order-1">
                <!-- Date and Order No. -->
                <div class="col-12">
                        <span>
                          <i class="material-icons md-shopping_cart"></i>
                            <span id="date-time-now" class="fw-bold mx-auto">Order ID: {{ order }}</span>
                        </span> <br>

                </div>
                <!-- Order Details -->
                <div id="total-values-div" class="col-12 pt-2">
                </div>
                <!-- Order Status Change -->
                <div class="col-12 pt-2 text-center">
                    <div class="input-group mb-3">
                        <select class="form-select" aria-describedby="button-addon2">
                            <option>Change status</option>
                            <option>Awaiting payment</option>
                            <option>Confirmed</option>
                            <option>Shipped</option>
                            <option>Delivered</option>
                        </select>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Save</button>
                    </div>
                    <button class="btn btn-outline-success w-100" href="#">
                        <i class="icon material-icons md-print"></i> Complete Order
                    </button>
                </div>
                <hr>
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#quick-add-modal">
                            Quick
                            Add Item
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#discount-modal">
                            Apply
                            Discount
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#add-customer-modal">
                            Add
                            Customer
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"
                                onclick="window.open('{% url 'receipt' last_order_id %}','_blank')">
                            Print
                            Last Receipt
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#calculator-modal">
                            Calculator
                        </button>
                        <button type="button" class="btn btn-primary p-0" data-toggle="modal"
                                data-target="#whatsapp-add-modal"
                                disabled="">
                            <i class="fab fa-whatsapp font-weight-bold"></i> Whatsapp Receipt
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 order-0">
                <div class="table-responsive shadow p-1 h-100 card" style="min-height: 300px; margin-top: -30px">
                    <h5 class="text-center pt-2">CART</h5>
                    <table id="cart-datatable" class="table table-hover w-100">
                        <thead class="bg-light">
                        <tr>
                            <th>Product</th>
                            <th>Weight</th>
                            <th>MRP(₹)</th>
                            <th>OurPrice(₹)</th>
                            <th>Quantity</th>
                            <th>Amount(₹)</th>
                            <th class="text-center">
                                <button type="button" class="btn btn-outline-danger px-1 py-0" id="btn-clear-cart">
                                    Clear
                                </button>
                            </th>
                        </tr>
                        </thead>
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td>452</td>#}
{#                            <td><b>Devon Lane</b></td>#}
{#                            <td contenteditable="true">$948.55</td>#}
{#                            <td><span class="badge rounded-pill alert-success">Received</span></td>#}
{#                            <td>#}
{#                                <div class="input-group quantity-stepper">#}
{#                                    <button class="btn btn-outline-primary btn-sm button-rounded-left" type="button"#}
{#                                            id="button-addon1">-#}
{#                                    </button>#}
{#                                    <input class="form-control btn-sm px-1 text-center update-order-item" type="number"#}
{#                                           min="0" name="quantity" value="2" data-order-item-id="81643">#}
{#                                    <button class="btn btn-outline-primary btn-sm button-rounded-right" type="button"#}
{#                                            id="button-addon2">#}
{#                                        +#}
{#                                    </button>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td>$948.55</td>#}
{#                            <td class="text-end">#}
{#                                <button class="btn btn-outline-danger py-0 px-1"><i class="fa fa-trash fa-sm"></i>#}
{#                                </button>#}
{#                            </td>#}
{#                        </tr>#}
{#                        </tbody>#}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Button Modals -->
    {% include 'new/pos/components/quick-add-item.html' %}
{% endblock %}

{% block customJavascript %}
    <script src="{% static 'new/pos/scripts/pos_home.js' %}"></script>
    <script src="{% static 'new/pos/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'new/pos/vendor/datatables/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'new/pos/scripts/datatable-common.js' %}"></script>
{% endblock %}