{% extends 'base.html' %}
{% load static %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> Register
{% endblock %}


{% block content %}
    <head>
        <style>
            body {
                background-image: url("{% static 'images/background-image.png' %}");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
    </head>
<div class="p-5">
        <!-- Card -->
        <div class="card card-cascade mx-auto" style="width: 40rem">

            <!-- Card image -->
            <div class="view view-cascade gradient-card-header blue-gradient">

                <!-- Title -->
                <h2 class="card-header-title">Register</h2>

            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade px-lg-5 pt-5">

                <!-- Form -->
                    <form method="POST">
                    <div class="form-group">

                        {% csrf_token %}
{#                        {% csrf_token %}#}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="text-muted" style="color: grey">{{ field.help_text }}</p>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
    {#                    {{ form.as_p }}#}


                        <!-- Sign in button -->
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                type="submit">Register
                        </button>
                    </div>
                    </form>

                <!-- Form -->

                <hr>

                <p>Already Registered?
                    <a href="{% url 'login' %}">Login</a>
                </p>

            </div>

        </div>
        <!-- Card -->
    </div>
{% endblock %}