{% extends "new/store/base.html" %}
{% load static %}
{% block content %}
    <section class="bg-white shadow">
    <div class="container">

      <div class="row align-items-center" style="min-height:520px">
        <div class="col-lg-6 order-lg-2">
         <article class="my-5 ms-lg-5">
             <h1 class="display-4">NW Cricket</h1>
            <p class="lead">Where passion meets quality.</p>
            <a href="items-list" class="btn btn-primary btn-lg"> Discover </a>
            <a href="#" class="btn btn-light btn-lg"> Learn more </a>
         </article>
        </div> <!-- col.// -->
        <div class="col-lg-6 order-lg-1">
          <img src="{% static 'new/store/images/home-page.jpg' %}" class="mw-100" height="500">
        </div> <!-- col.// -->
      </div> <!-- row.// -->

    </div> <!-- container end.// -->
  </section>
{% endblock %}
{#    <a href="items-list" class="explore-button" onclick="Url(this)">Explore </a>#}
