{% extends 'pos/components/pos-buttons-modal-base.html' %}
{% load static %}

{% block modal-css %}
    {#    <link rel="stylesheet" href="{% static 'css/calculator-styles.css' %}">#}
{% endblock %}

{% block modal-title %}Quick Add Item{% endblock %}

{% block modal-id %}quick-add-modal{% endblock %}


{% block modal-body %}

    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><strong>Product Name</strong></span>
        </div>
        <input type="text" class="form-control" aria-label="Name"
               id="qa_name" required>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><strong>Sale Price</strong></span>
            <span class="input-group-text"><strong>₹</strong></span>
        </div>
        <input id="qa_discount_price" type="number" step=".01" required class="form-control"
               aria-label="discount_price">
    </div>

    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><strong>Quantity</strong></span>
        </div>
        <input id="qa_quantity" type="number" step="1" required class="form-control"
               aria-label="quantity">
    </div>

{% endblock %}

{% block modal-footer %}
    {% with load_footer=True %}
        {{ block.super }}
    {% endwith %}


{% endblock %}

{% block modal-buttons %}
    <button id="quick-add-item" type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
{% endblock %}

{% block modal-javascript %}
    {#    <script src="{% static 'js/calculator-script.js' %}"></script>#}
{% endblock %}