* {
    font-size: 15px;
    font-family: 'Arial', serif;
    line-height: normal;
}

.receipt {
    width: 439px;
    max-width: 439px;
    /*   padding: 3px 5px 4px; */
    background-color: #ffffff;
}

.footer-text-small{
    font-size: 12px;
}

.footer-text-smallul li{
    font-size: 12px;
}
.border-dotted{
    border-style: dotted;
}

@page {
    size: auto;
    margin: 0 0 0 5px;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}