{% extends 'base.html' %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> Login
{% endblock %}

{% block content %}
<div class="p-5">
    <!-- Card -->
<div class="card card-cascade align-item-center justify-content-center mx-auto" style="width: 30rem">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header blue-gradient">

    <!-- Title -->
    <h2 class="card-header-title">Login</h2>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center px-lg-5 pt-5">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" method="POST">
    {% csrf_token %}
        {{form.as_p}}

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

    </form>
    <!-- Form -->

    <hr>

      <p>Not a member?
        <a href="{% url 'register' %}">Register</a>
      </p>

  </div>

</div>
<!-- Card -->
</div>
{% endblock %}