{% extends 'base.html' %}

{% block page-title %}
    <i class="fas fa-angle-right align-middle fa-xs"></i> Update inventory
{% endblock %}

{% block content %}
    <h1>Update inventory</h1>

    <div class="card my-5 py-2">
        <form action="{% url 'update-inventory' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label for="formFileLg" class="form-label  px-3">Upload an XLS file to update inventory</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" name="xlsfile"/>
            <input class="float-right mt-2 mr-2" type="submit" value="upload xml file">
        </form>
    </div>
    {% if message %}
        <div class="alert {{ class }} text-center p-2" role="alert">
            {{ message}}
            {% if error_items %}
                <p>error occurred in following barcodes: {{ error_items }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="alert alert-info text-center p-2 font-weight-bold" role="alert">
            Once you upload file it will process and refresh when done. DONT PRESS RELOAD ONCE YOU UPLOAD THE FILE
        </div>
{% endblock %}