{% load static %}
<!-- To change the direction of the modal animation change .right class -->
{% block css %}
    {% block modal-css %}
    {% endblock %}
{% endblock %}
<!-- Modal -->
<div class="modal fade" id="{% block modal-id %}{% endblock %}" tabindex="-1" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% block modal-title %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modal-body %}
                {% endblock %}
            </div>
            {% block modal-footer %}
                {% if load_footer %}
                    <div class="modal-footer">
                        {% block modal-buttons %}
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

{% block javascript %}
    {% block modal-javascript %}
    {% endblock %}
{% endblock %}
