<!-- Modal -->
<div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" id="myModalLabel">
                    <strong>Add Product</strong>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <form id="add-product-form">
                    <div class="md-form">
                        <input type="text" id="product_name" name="name" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="product_name">Product Name</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <input type="number" id="product_cost" name="cost" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="product_cost">Cost</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input type="number" id="product_mrp" name="mrp" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="product_mrp">MRP</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input type="number" id="product_discount_price" name="discount_price" class="form-control validate">
                                <label data-error="wrong" data-success="right"
                                       for="product_discount_price">Discount</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input type="number" id="product_quantity" name="quantity" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="product_quantity">Quantity</label>
                            </div>
                        </div>
                    </div>
                    <div class="md-form">
                        <input type="text" id="product_weight" name="weight" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="product_weight">Weight</label>
                    </div>

                    <select class="mdb-select md-form" id="product_category" name="category" multiple searchable="Search here..">
                        <option value="" disabled selected>Select Categories</option>
                    </select>

                    <div class="md-form mt-2">
                        <textarea id="product_description" name="description" class="md-textarea form-control" rows="2"></textarea>
                        <label for="product_description">Description</label>
                    </div>

                    <div class="form-row my-0">
                        <div class="col">
                            <div class="md-form">
                                <input type="text" id="product_code" name="product_code" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="product_code">Product Code</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input type="checkbox" class="form-check-input" id="generate_product_code_checkbox">
                                <label class="form-check-label" for="generate_product_code_checkbox">Generate Product
                                    Code</label>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                            id="add-product-form-submit-button" type="submit">Add Product
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

