{% extends 'components/base-form-modal-2.html' %}

{% block modal_id %}addVariationModalForm{% endblock %}

{% block modal-title %}Add Variation{% endblock %}

{% block form_id %}add-variation-form{% endblock %}

{% block extra-content %}
    <a href="#" onclick="filterDatatableByProductCode(product_code_to_update, true)">

        <div class="alert alert-danger font-weight-bold" role="alert">

            {#        <button class="badge badge-primary p-2" role="button" onclick="filterDatatableByProductCode(product_code_to_update, true)">#}
            {#            Check Existing Variations</button>#}
            Click to check existing variations before proceeding to avoid creating duplicate variations.
        </div>
    </a>

{% endblock %}

{% block form %}
    {% with element_id='add-variation' variation_title_visibility='visible' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block product_code_wrapper %}
    {% with addProduct=False %}
        {{ block.super }}
    {% endwith %}
{% endblock product_code_wrapper %}

{% block submit-button-name %}Add Variation{% endblock %}