<!-- Modal -->
<div class="modal fade" id="{% block modal_id %}{% endblock modal_id %}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" id="myModalLabel">
                    <strong>
                        {% block modal-title %}{% endblock %}
                    </strong>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                {% block form %}
                    <form id="{% block form_id %}{% endblock form_id %}">
                        <div class="row">
                            <div class="col pr-5 pt-3 border-right">
                                {% block product_code_wrapper %}
                                    {% if addProduct %}
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><strong>Product Code</strong></span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Code"
                                                   name="product_code"
                                                   id="product_code" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="generate_product_code_checkbox">
                                                    <label class="form-check-label"
                                                           for="generate_product_code_checkbox"></label>
                                                </div>
                                                <span class="input-group-text">Generate Product Code</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="mb-3 pb-2 h5">Product Code - <span id="static-product-code"></span>
                                        </div>
                                    {% endif %}
                                {% endblock product_code_wrapper %}

                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><strong>Product Name</strong></span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Name"
                                           name="name" required>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><strong>Buying Cost</strong></span>
                                        <span class="input-group-text"><strong>₹</strong></span>
                                    </div>
                                    <input name="cost" type="number" step=".01" required class="form-control"
                                           aria-label="cost">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><strong>MRP</strong></span>
                                        <span class="input-group-text"><strong>₹</strong></span>
                                    </div>
                                    <input name="mrp" id="{{ element_id }}_mrp" type="number" step=".01" required
                                           class="form-control"
                                           aria-label="mrp">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold">Discounted Price</span>
                                        <span class="input-group-text font-weight-bold">₹</span>
                                    </div>
                                    <input name="discount_price" id="{{ element_id }}_discount_price" type="number"
                                           step=".01" required
                                           class="form-control"
                                           aria-label="discount">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold">Discount</span>
                                        <span class="input-group-text font-weight-bold">%</span>
                                    </div>
                                    <input name="discount_percentage" id="{{ element_id }}_discount_percent"
                                           type="number" value="0"
                                           step=".01" required
                                           class="form-control"
                                           aria-label="discount_percent">
                                </div>

                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold">Stock</span>
                                    </div>
                                    <input type="number" class="form-control" aria-label="quantity" name="quantity"
                                           required>
                                    <div class="input-group-append">
                                        <select class="browser-default custom-select" name="quantity_unit"
                                                aria-label="quantity_unit">
                                            {% for k,v in quantity_unit %}
                                                <option value="{{ k }}"
                                                        {% if k == 'PCS' %}selected{% endif %}>{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Weight</span>
                                    </div>
                                    <input type="number" class="form-control" aria-label="weight" name="weight">
                                    <div class="input-group-append">
                                        <select class="browser-default custom-select" name="weight_unit"
                                                aria-label="weight_unit">
                                            {% for k,v in weight_unit %}
                                                <option value="{{ k }}"
                                                        {% if k == 'g' %}selected{% endif %}>{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col pl-5 pt-3">
                                <div class="mb-3 h4 grey-ic">Additional Fields</div>
                                <div class="input-group mb-4">

                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="photo">
                                            <label class="custom-file-label" for="photo">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="">Upload</span>
                                        </div>
                                    </div>

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Company</span>
                                    </div>
                                    <input type="text" class="form-control product_companies" aria-label="company"
                                           name="company">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rack Number</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="rack"
                                           name="rack_number">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Expiry Date</span>
                                    </div>
                                    <input type="date" class="form-control" aria-label="expiry"
                                           name="expiry_date">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Categories</span>
                                    </div>
                                    <input type="text" class="tagator form-control product_categories"
                                           aria-label="categories"
                                           name="category"
                                           id="{{ element_id }}_product_categories">
                                </div>
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <textarea class="form-control" aria-label="description"
                                              name="description"></textarea>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-info btn-rounded my-2 ml-0 waves-effect z-depth-0" type="submit">
                            {% block submit-button-name %}{% endblock %}</button>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

