<div class="card">
    <div class="card-body">
        <div class="row justify-content-between mt-1 mb-2">
            <div class="col-4">
                <h2 class="pt-2">Orders</h2>
            </div>
            <div class="col-4">
                <a href="{% url 'pos-home' %}">
                    <button class="float-right btn btn btn-md btn-primary btn-rounded waves-effect waves-light">
                        <i class="fas fa-plus mr-3"></i>
                        New Order
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="custom-control custom-switch float-right mb-2 mr-1">
                    <input type="checkbox" class="custom-control-input" id="toggle-advance-search-button">
                    <label class="custom-control-label" for="toggle-advance-search-button">Advance Search</label>
                </div>
            </div>
        </div>
        <table id="orders-datatable" class="table nowrap text-center" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Products Quantity</th>
                <th>Payment Mode</th>
                <th>Buying Cost (₹)</th>
                <th>Total MRP (₹)</th>
                <th>Final Price (₹)</th>
                <th>Profit (₹)</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteOrderPrompt" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Order (Number - <span class="text-warning" id="static-order-id-delete"></span>) will be deleted.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="order-delete-yes">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>